// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation";
@import "https://fonts.googleapis.com/css?family=Montserrat";


body {
  background: linear-gradient(45deg, #ff5050, #87CEFA);
}



.homePage {
  h1, h3, h4{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  padding-top: 150px;
  text-align: center;
  .signInButton {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #A9A9A9;
    border-radius: 5px;
    font-size: 150%;
    background-color: #0B67AE;
    a {
      color: white !important;
    }
  }
}

.billButtons{
  margin-top: 15px;
  margin-bottom: 15px;
}

.billDropDown{
  background-color: white;
  text-align: center;
  border: 2px solid #D4D4D4;
  p{
    &:hover {
      cursor: pointer;
    }
  }
}

.addNewBillLink{
  background-color: white;
  text-align: center;
  border: 2px solid #D4D4D4;
}

nav a{
  margin-right: 10px;
  margin-left: 10px;
}

.formFields, .newBillHeader{
  width: 400px;
}

.button{
  width: 400px;
}

.newBillHeader{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
